@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 18px;
    font-family: "Exo", "Myriad Pro", Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

body {
    background: url(http://purocasinoysazon.weebly.com/uploads/1/2/9/1/12916801/background-images/1318927180.jpg) #665;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*Header Promotor*/

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.promotor {
    margin: 25px 0 0 50px ;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.container-logo {
    max-width: 50px;
    
    
}

.container-logo img {
    width: 100%;
    border-radius: 50%;

}

.promotor-name {
    text-align: center;
    padding-left: 12px;
    margin: auto 0;
}

#switchDisplay {
    background: none;
    border: none;
    color: aliceblue;
    padding: 15px;
    margin: 10px 0 0 50px ;
    border: 1px solid black;
    background: rgba(255, 43, 43, 0.692);
    font-weight: 600;
    font-size: 25px;

}

#switchDisplay:hover {
    color:  rgba(4, 61, 247, 0.705);
    transition: 0.5s;
    cursor: pointer;
}

/*Formulario Start*/

#taskForm {
    display: none;
}

.formContainer {
    display: flex;
    justify-content: center; 
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto 20px auto;
    padding: 20px;
}

.formContainer h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 30px;
    color:#f8f9fc;
}

.formField {
    display: flex;
    flex-direction: column;
    background: cornflowerblue;
    padding: 15px 5px 15px 5px;
    border: 1px solid black;
}

.task .border-btn {
    margin: 10px 4px 10px 4px;
    border-bottom: 1px solid #000;
}

#submitTaskForm {
    color: black;
    font-weight: 600;
    background: rgba(255, 0, 0, 0.856);
    border: 1px solid black;
    padding: 3px 0;
    font-size: 20px;
    width: 90%;
    margin: auto;
}

#submitTaskForm:hover {
    cursor: pointer;
    background: rgb(0, 47, 255);
    color: wheat;
    transition: 0.5s;
}

#submitTaskForm:active {
    font-size: 19px;
    transition: 0.1s;
    
}
/*Formulario Finish*/


/*Tabla Datos Start*/

#fatherTasksContainer {
    display: flex;
    justify-content: center; 
    flex-direction: column;
   /* max-width: 1500px;
    margin: auto;
    padding: 20px; */
    padding-bottom: 24px;
    background: cornflowerblue;
    border: 1px solid black;
    
}

#fatherTasksContainer .tasksContainer {
    padding: 8px;
    display: flex;
    flex-direction: column;
    margin: 10px 4px 10px 4px;
    border-bottom: 1px solid #000;
    margin-bottom: 40px;
    
}

table {
    text-align: center;
}

th {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

td {
    font-size: 14px;
}

#transferTable tr:nth-child(1):hover {
    background: none;
    cursor: none;
}

#transferTable tr:hover {
    background: green;
    cursor: copy;
}




#tasksTable th{
    background: rgb(163, 105, 105);
}

.buttonDeleteCustom {
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    margin: 2px 0;
    background: white;
    color: black;
    cursor: pointer;
}


/*MEDIA QUERYS TABLE*/
/* short devices (laptops/desktops, 502px and down) */
@media only screen and (max-width: 502px) {    
    th {
        font-size: 14px;
    }
    td {
        font-size: 11px;
    }
    tr th:nth-child(2) {
        display: none;
    }
    tr th:nth-child(5) {
        display: none;
    }
    tr td:nth-child(2) {
        display: none;
    }
    tr td:nth-child(5) {
        display: none;
    }

    #fatherTasksContainer {
        padding-bottom: 42px;
    }
} 

/* short devices (laptops/desktops, 802px and down) */
@media only screen and (max-width: 802px) {    
    th {
        font-size: 16px;
    }
    td {
        font-size: 13px;
    }
    tr th:nth-child(5) {
        display: none;
    }
    tr td:nth-child(5) {
        display: none;
    }
} 
/*Tabla Datos Finish*/

/*FOOTER START*/

.footer-container {
    width: 100%;
    text-align: center;
    position: absolute;
    border-top: 2px solid #000;
}

.footer-container p {
  color: #000000;
  font-size: 15px;
  font-weight: 900;
  font-style: italic;
}